.App {
  text-align: left;
  margin-left: 2rem;
}

.App h1 {
  border-bottom: 1px solid gray;
  padding-bottom: 0.5rem;
}

img.user-avatar {
  vertical-align: text-bottom;
  height: 3rem;
  padding-right: 0.75rem;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

dl.meta {
  width: 500px;
  overflow: hidden;
  padding: 0;
  margin-left: 1rem;
}

.meta dt {
  float: left;
  min-width: 100px;
  width: 30%;
  padding: 0;
  margin: 0;
}

.meta dd {
  float: left;
  width: 70%;
  padding: 0;
  margin: 0;
}

.loading {
  padding-left: 1rem;
}
